html{
  margin: 0px;
  padding: 0px;
  
}


body {
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}




.navigation {
  background-color: #2b2b2b;
  color: white;
  height: 50px;

  animation-name: navegacao;
  animation-duration: 2s ;

}

.navigation ul{
  margin-top: 0px;
  list-style: none;
  padding-left: 0;
  text-align: right;
  height: 50px;
}

.navigation li{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 100 ;
}



.navigation a{
    color: white;
    text-decoration: none;
}

.navigation a:hover{
  color: #f27609;
}

.navigation li.threeline-icon{
  display: none;

}

.capa {
  color: white;
}

.capa span {
  color: #f27609;
  display: block;
}

.capa div{
  display: inline-block;
  height: 650px;
}

.profile-pic{
  width: 40%;
  text-align: center;

  animation-name: profile-capa ;
  animation-duration: 2s ;
  
}

.profile-pic img{
  width: 320px;
  border-radius: 320px;
  margin-top: 100px;
}

.profile-title{
  vertical-align: top;
  width: 59%;

  animation-name: titulo-capa ;
  animation-duration: 2s ;
  
}

.profile-title h1 {
  text-transform: uppercase ;
  font-size: 59px;
  margin-top: 200px;
  font-weight: 400;
  line-height: 60px;

}

.profile-title h2 {
  font-size: 16px;
  font-weight: 100;
  margin-top: -26px;

}

.main{
  padding-top: 80px;
  padding-right: 200px ;
  padding-bottom: 80px ;
  padding-left: 100px ;

  animation-name: conteudo;
  animation-duration: 2s ;


}
.classmain{

  font-family: 'Montserrat', sans-serif;
  padding-top: 200px;
  padding-right: 200px ;
  padding-bottom: 10px ;
  padding-left: 860px ;
  color:grey;
  animation-name: conteudo;
  animation-duration: 2s ;


}


.cv-pic {
  float: left;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 20px;
}


.main h1{
   color: #f27609;
   font-weight: normal;

}

.main h2{
  color: white; 
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 40px;
}

.main h3{
  color: #f27609;
  font-size: 12px;
  text-transform: uppercase;

}

.main p {
  font-size: 18px;
  color: white;
  font-weight: 100;
  line-height: 24px;
  text-align: justify;
}

.ux{
  list-style-image: url('sqpurple.gif');
}

.caminho {
  list-style: none;
  padding-left: 0;
  color: grey;
  

}

.caminho li {
  display: inline-block;

}

.caminho a{
  color: grey;
}

.social-img{
  width: 50px;
  margin-right: 10px;
}

.miniatura{
  width: 320px;
  height: 320px;
  background-image: url("img/unibook.jpeg");
  display: inline-block;
  margin right: 15px;
  overflow: hidden;
}

.imagem1{
  width: 310px;
  height: 230px;
  text-align: center;
  background-image: url("img/certificado1.jpg");
  display: inline-block;
  margin right: 15px;
  overflow: hidden;
  background-size: contain;
}


.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top:100px ;
    transition: 1s;

}
.blackbox:hover{
  opacity: 0.8;
  transition: 1s;

}

.blackbox-text {
  text-align: center;
  
}

.blackbox-text h1{

  font-size: 16px;
  color: #f27609;
  text-transform: uppercase;
  margin-top: 0;

}

.voltar {
  color: #f27609;
}


@keyframes profile-capa{
  0%{ opacity: 0; transform: translate(0px, 20px) }
  100% {opacity: 1; transform: translate(0px, 0px) }

}

@keyframes titulo-capa{
  0%{ opacity: 0; transform: translate(0px, -20px) }
  100% {opacity: 1; transform: translate(0px, 0px) }

}


@keyframes conteudo{
  0%{ opacity: 0; transform: translate(-20px, 0px) }
  100% {opacity: 1; transform: translate(0px, 0px) }

}


@keyframes navegacao{
  0%{ opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}

}


@media (max-width: 1000px){
  .navigation li {
    display: none;
  }

.navigation li.threeline-icon{

  display: inline-block;
}

.capa div{

  display: block;
  height: auto;

}

.profile-pic {
  width: 100%;

}

.profile-pic img {
  margin-top: 0;
  max-width: 80%;

}

.profile-title {
  text-align: center;
  width: 100%;

}

.profile-title h1 {
  margin-top: 40px;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 20px;
}


.profile-title h2 {

  margin-left: 20px;
  margin-right: 20px;
}

.main sobre {
  color: #f27609;
}
